.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 2px auto;
    transition: all .7s ease-in-out;
    background-color: rgb(17, 17, 17);
}

@media(max-width: 800px) {
    .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }
}