.form {
    grid-area: form;
}

.form input,
.form button {
    padding: 3px;
    border: 1px solid #000;
    margin-right: 10px;
    border-radius: 5px;
}

.form button {    
    background-color: rgba(189, 195, 197, 0.39);
    transition: all .3s ease;
}

.form button:hover{
    background: #00000028;
}