.imgContain {    
    grid-area: page; 
    position: relative;
    padding: 0 0 1% 0;   
}

.imgContain img {
    max-height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
}